<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-windows-webview"
        version="0.5.1"
        xmlns="http://apache.org/cordova/ns/plugins/1.0">
	
	<name>WindowsWebview</name>
    <description>Cordova Windows Webview Plugin</description>
    <license>MIT</license>

    <dependency id="cordova-plugin-sslcertificatechecker" version="^5.0.0"/>
	
	<js-module name="WindowsWebview" src="www/WindowsWebview.js">
		<clobbers target="cordova.plugins.WindowsWebview" />
	</js-module>
	
	<platform name="windows">
		<js-module name="WindowsWebviewProxy" src="src/windows/WindowsWebviewProxy.js">
			<merges target="" />
		</js-module>
		
		<js-module name="prune" src="src/windows/JSON.prune.js">
			<clobbers target="JSON.prune" />
		</js-module>

        <hook type="after_prepare" src="scripts/windows/after_prepare.js"/>
	</platform>
	
</plugin>